<div class="adminButtonContainer">
    <button class="btn btn-primary" onclick="location.href = '/'">Home</button>
    <button class="btn btn-primary" onclick="location.href = '/admin'">Admin</button>
    <button class="btn btn-primary" onclick="location.href = '/admin/users'">Users</button>
    <button class="btn btn-primary" onclick="location.href = '/admin/families'">Families</button>
</div>
