<div id="chatContainer" class="container hidden">
    <div class="chatHeader">
        <h2>Jõuluvana vestlusnurk</h2>
    </div>
    <div class="chatMessages" id="chatMessages">
        <!-- Chat messages will appear here -->
    </div>
    <div class="input-group">
        <input type="text" id="messageInput" class="form-control" placeholder="Kirjuta siia...">
        <div class="input-group-append">
            <button id="sendButton" class="btn btn-success">Saada</button>
        </div>
    </div>
</div>