@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<script type="text/javascript">
    function getName() {
        $.get({
            url: '/api/home?code=' + document.getElementById('codeInput').value
        }).then((res) => {
            console.log(res);
            document.getElementById('name').innerHTML = res;
        }).catch((err) => {
            document.getElementById('name').innerHTML = "Vigane kood";
        });
    }
</script>
<div style="max-width: 50%" class="input-group mb-3">
    <input type="text" id="codeInput" class="form-control" placeholder="Sinu kood" />
    <div class="input-group-prepend">
        <button class="btn btn-outline-primary" type="button" onclick="getName()">Kuva nimi</button>
    </div>
</div>
<div id="name" />

