@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div style="max-width: 50%" class="input-group mb-3">
    <input type="text" id="codeInput" class="form-control" placeholder="Sinu kood" />
    <div class="input-group-prepend">
        <button class="btn btn-outline-primary" type="button">Kuva nimi</button>
    </div>
</div>

