<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>App</title>
</head>

<body>
  <form action="/showResult" method="get">
    Sisesta kood: <input id="code" name="code" value="{{prefill}}" type="{{inputType}}" />
    <button id="submit">Vaata</button>
  </form>
  Või logi sisse guugliga: <a href="/auth/google">Google</a>
</body>

</html>