<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>App</title>
</head>

<body>
  {{ message }}
  <br />
  <form action="showResult">
    Sisesta kood: <input type="text" id="code" />
    <button id="submit">Saada</button>
  </form>
  Või logi sisse guugliga: <a href="/auth/google">Google</a>
</body>

</html>