<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>App</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/audio.css">
</head>

<body onclick="showResult();">
    <canvas id="snow"></canvas>
    <script src="/js/result.js"></script>
    <div class="bg">
        <main role="main" class="centerer text-center">
            <div id="responseContainer">
                <div id="welcome"></div>
                <div id="recipientHidden">Vajuta siia, et kuvada nimi!</div>
                <div id="recipient" style="display: none;">{{ result }}</div>
            </div>
            {{#if success}}
            <div id="playButton" class="botón" onclick="playPause();">
                <div class="fondo" x="0" y="0" width="200" height="200"></div>
                <div class="icono" width="200" height="200">
                    <div class="parte izquierda" x="0" y="0" width="200" height="200" fill="#fff"></div>
                    <div class="parte derecha" x="0" y="0" width="200" height="200" fill="#fff"></div>
                </div>
                <div class="puntero"></div>
            </div>
            <audio hidden id="player" playsinline="">
                <source src="/audio/alliwantforxmasisu.mp3" type="audio/mpeg">
            </audio>
            <script src="/js/audio.js"></script>
            {{/if}}
        </main>
    </div>
    <script src="/js/snow.js"></script>
</body>

</html>