<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>App</title>
    {{#each css}}
    <link rel="stylesheet" href="/css/{{this}}">
    {{/each}}
    {{#each js}}
    <script src="/js/{{this}}"></script>
    {{/each}}
</head>

<body>

    <canvas id="snow"></canvas>
    {{ result }}
    <div id="buttonContainer">
        <img id="playButton" onclick="playPause()" style="display: none;" src="~/images/play.png">
        <img id="pauseButton" onclick="playPause()" src="~/images/pause.png">
    </div>
</body>

</html>