@page

<div style="max-width: 50%" class="input-group mb-3">
    <input type="text" id="secretInput" class="form-control" placeholder="Admin kood" />
    <div class="input-group-prepend">
        <button class="btn btn-outline-primary" onclick="getFamilies()">Kuva tulemus</button>
    </div>
</div>
<div style="max-width: 50%" class="input-group mb-3">
    <textarea id="familyInput" class="form-control" placeholder="Perekondade json"></textarea>
    <div class="input-group-prepend">
        <button class="btn btn-outline-primary" onclick="setFamilies()">Sisesta perekonnad</button>
    </div>
</div>
<div style="max-width: 50%" class="input-group mb-3">
    <div class="input-group-prepend">
        <button class="btn btn-outline-primary" onclick="validateParticipants()">Valideeri sala säntad</button>
    </div>
</div>
<div style="max-width: 50%" class="input-group mb-3">
    <div class="input-group-prepend">
        <button class="btn btn-outline-primary" onclick="getMessages()">Genereeri sõnumid</button>
    </div>
</div>


<script src="~/js/admin.js" asp-append-version="true"></script>
<pre id="results"></pre>