@page
@model IndexModel
@{
    ViewData["Title"] = "Leia isik";
}

<canvas id="snow"></canvas>
<div class="bg">
<main role="main" class="centerer">
    <div id="inputContainer">
            <input type="text" id="codeInput" class="input-group-text" placeholder="Sinu kood" />
    </div>
    <div>
        <button class="button" type="button" onclick="getName()">Kuva nimi</button>
    </div>
    <div id="responseContainer">
        <div id="welcome"></div>
        <div id="recipient"></div>
        <div id="logs"></div>
    </div>
</main>
</div>
